<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pix</title>
  </head>
  <body>
    <header>
      <h1>Pix gallery</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/photos/new">Upload a new photo</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Photo gallery</h2>
      <ul>
          <% for(let i = 0; i < photos.length; i++){ %>
              <li>
                  <a href="/photos/<%=photos[i]._id%>"><%=photos[i].title%></a>
                  <a href="/photos/<%=photos[i]._id%>"><img src=<%=photos[i].url%></a>
                  <form method="POST" action="/photos/<%=photos[i]._id%>?_method=DELETE">
                <input type="submit" name="_method" value="DELETE"/>
            </form>
              </li>
          <% } %>
      </ul>

    </main>
  </body>
</html>