<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=photo.title%></title>
</head>
<body>
    <h1>About <%=photo.title%></h1>
    </br>
    <a href='/photos'>Back to gallery</a>
    </br>
    </br>

    title: <%=photo.title%></br>
    <img src="<%=photo.url%>"></br>
    <%# populate photo user name here %>
</body>
<section>
          <a href="/photos/<%=photo._id%>/edit">Edit</a>
      </section>
</html>